.img__detail{
    width: 300px;
}
.detail__content{
    display: flex;
    justify-content: space-evenly;
}
.detail__description{
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    font-size: 14px;
}
