.count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.count__content {
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
}

.count__button {
    border-radius: 6px;
    width: 3rem;
    height: 2rem;
}

.add__button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.add__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.add__button:hover {
    color: #e8e8e8;
    cursor:pointer;
}

.add__button:hover::before {
    width: 100%;
}