.count{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: 110px;
    height: 110px;
}
.count__content{
    font-size: 4em
}
.count__button{
    border-radius: 6px;
    width: 3rem;
    height: 4rem;
}